<div id="preloader" *ngIf="!isLoaded">
  <div id="loader"></div>
</div>
<div>
  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-title mb-1 p-3">
          <h5><b>Notificaciones ({{numNotifications}} resultados)</b>
            <a [routerLink]="" (click)="onDeleteAll()" >
              <span  style="font-size: 1.2em; color: #0095A6;">
                <i class="fas fa-trash-alt ml-3 float-right" title="Eliminar todas"></i>
              </span>
            </a>
            <a [routerLink]="" (click)="onReadAll()" >
              <span  style="font-size: 1.2em; color: #0095A6;">
                <i class="fas fa-tasks ml-3 float-right" title="Marcar todas como revisadas"></i>
              </span>
            </a>
            <a [routerLink]="" (click)="onReload()" >
              <span  style="font-size: 1.2em; color: #0095A6;">
                <i class="fas fa-redo ml-3 float-right" title="Recargar"></i>
              </span>
            </a>
          </h5>
        </div>
        <div class="card-body">
          <div id=legend>
                <ul>
                <li class=notifNew></li>
                <li class="notifSpace">Nuevas</li>
                <li class=notifNoRead></li>
                <li class="notifSpace">No revisadas</li>
                <li class=notifRead></li>
                <li class="notifSpace">Revisadas</li>
                </ul>
            </div>
          <div class="table-responsive-md">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th></th>
                    <th>Notificación</th>
                    <th>Fecha/Hora</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody *ngIf="notifications?.length">
                  <tr *ngFor="let notification of notifications">
                    <td class="tableNotifNew" *ngIf="notification.notified==0 && notification.read_notification==0"></td>
                    <td [routerLink]="" (click)="onReadNoRead(notification)" class="tableNotifNoRead" title="Marcar como revisada" *ngIf="notification.notified==1 && notification.read_notification==0"></td>
                    <td [routerLink]="" (click)="onReadNoRead(notification)" class="tableNotifRead" title="Marcar para revisar" *ngIf="notification.notified==1 && notification.read_notification==1"></td>
                    <td class="align-middle"><div [innerHTML]="notification.description"></div></td>
                    <td class="align-middle">
                      {{notification.datetime_notification | date:'dd MMM yyyy HH:mm'}}
                    </td>
                    <td class="align-middle"></td>
                  </tr>
                </tbody>
                <tbody *ngIf="!notifications?.length">
                  <tr>
                    <td class="align-middle text-muted" colspan="10" align="center">
                      <span><i class="fas fa-info-circle"></i></span> No tiene notificaciones
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <app-pagination (pageEmitter)="goToPage($event)" [page]="page" [totalPages]="totalPages" [numElements]="numNotifications" [numberPage]="numberPage"></app-pagination>
    </div>
  </div>
</div>
