<div #subsScroll id="scroll" class="panel-header panel-header-sm">
  <hr>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <div class="card-title mb-1 p-3">
            <h5>Información de cuenta</h5>
          </div>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="usr_email">Email</label>
                  <input name="usr_email" id="usr_email" type="email" class="form-control">
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label for="usr_name">Nombre</label>
                  <input name="usr_name" id="usr_name" type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="usr_surname">Apellidos</label>
                  <input name="usr_surname" id="usr_surname" type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label for="usr_telephone">Teléfono</label>
                  <input name="usr_telephone" id="usr_telephone" type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="usr_address">Dirección</label>
                  <input name="usr_address" id="usr_address" type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label for="usr_city">Población</label>
                  <input name="usr_city" id="usr_city" type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label for="usr_province">Provincia</label>
                  <input name="usr_province" id="usr_province" type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label for="usr_poscode">Código Postal</label>
                  <input name="usr_poscode" id="usr_poscode" type="number" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="usr_about">Acerca de mí</label>
                  <textarea name="usr_about" id="usr_about" rows="4" cols="80" class="form-control"></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="./assets/img/bg_contact_info.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <img class="avatar border-gray" src="./assets/img/girl.png" alt="...">
              <h5 class="title">Admin</h5>
            </a>
            <p class="description">
              Administrador
            </p>
          </div>
          <p class="description text-center">
            Descripción o estudios de quien inicia sesión
          </p>
        </div>
        <hr>
        <div class="button-container">
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-facebook-f"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-youtube"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-instagram"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title mb-1 p-3">
            <h5>Información de página de inicio</h5>
          </div>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmitHome( homeForm )" #homeForm="ngForm" enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-12">
                <label><strong>Teléfonos de la cabecera</strong></label>
              </div>
            </div>
            <div class="row p-2">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="hme_firstph">Teléfono primario</label>
                  <input name="hme_firstph" id="hme_firstph" type="number" [(ngModel)]="infoObj.home_first_ph" class="form-control">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="hme_secondph">Teléfono secundario</label>
                  <input name="hme_secondph" id="hme_secondph" type="number" [(ngModel)]="infoObj.home_second_ph" class="form-control">
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <label><strong>Redes sociales</strong></label>
              </div>
            </div>
            <div class="row p-2">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="hme_fcbk">Facebook</label>
                  <input name="hme_fcbk" id="hme_fcbk" type="text" [(ngModel)]="infoObj.home_fcbk" class="form-control">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="hme_ytube">YouTube</label>
                  <input name="hme_ytube" id="hme_ytube" type="text" [(ngModel)]="infoObj.home_ytube" class="form-control">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="hme_insta">Instagram</label>
                  <input name="hme_insta" id="hme_insta" type="text" [(ngModel)]="infoObj.home_insta" class="form-control">
                </div>
              </div>
            </div>
            <div class="row p-2">
              <div class="col-md-6">
                  <button type="submit" name="submit"
                  class="btn btn-outline-lightning rounded-0 mb-2 mr-2">Actualizar</button>
              </div>
              <div class="col-md-6">
                  <button type="button" name="clear"
                  class="btn btn-outline-lightning rounded-0 mb-2" (click)="onResetHome(homeForm)">Reiniciar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title mb-1 p-3">
            <h5>Información de pie de página</h5>
          </div>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmitFooter( footerForm )" #footerForm="ngForm" enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="localaddress">Dirección del local</label>
                  <input name="localaddress" id="localaddress" type="text" [(ngModel)]="infoObj.footer_address" class="form-control">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="ftr_email">Email de información</label>
                  <input name="ftr_email" id="ftr_email" type="text" [(ngModel)]="infoObj.footer_email" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="ftr_phone">Teléfono de contacto</label>
                  <input name="ftr_phone" id="ftr_phone" type="number" [(ngModel)]="infoObj.footer_ph" class="form-control">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="ftr_time">Horario</label>
                  <input name="ftr_time" id="ftr_time" type="text" [(ngModel)]="infoObj.footer_schdl" class="form-control">
                </div>
              </div>
            </div>
            <div class="row p-2">
              <div class="col-md-6">
                  <button type="submit" name="submit"
                  class="btn btn-outline-lightning rounded-0 mb-2 mr-2">Actualizar</button>
              </div>
              <div class="col-md-6">
                  <button type="button" name="clear"
                  class="btn btn-outline-lightning rounded-0 mb-2" (click)="onResetFooter(footerForm)">Reiniciar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title mb-1 p-3">
            <h5>Información de página de contacto</h5>
          </div>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmitContact( contactForm )" #contactForm="ngForm" enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="cnt_address">Dirección</label>
                  <input name="cnt_address" id="cnt_address" type="text" [(ngModel)]="infoObj.cnt_address" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="cnt_ph_appo">Teléfono para cita previa</label>
                  <input name="cnt_ph_appo" id="cnt_ph_appo" type="number" [(ngModel)]="infoObj.cnt_ph_appo" class="form-control">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="cnt_email">Emails</label>
                  <input name="cnt_email" id="cnt_email" type="text" [(ngModel)]="infoObj.cnt_emails" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="cnt_ph_mwives">Teléfonos matronas</label>
                  <input name="cnt_ph_mwives" id="cnt_ph_mwives" type="number" [(ngModel)]="infoObj.cnt_ph_mwives" class="form-control">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="cnt_ph_physio">Teléfonos fisioterapia</label>
                  <input name="cnt_ph_physio" id="cnt_ph_physio" type="number" [(ngModel)]="infoObj.cnt_ph_physio" class="form-control">
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <label><strong>Mapa</strong></label>
              </div>
            </div>
            <div class="row p-2">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="cnt_lat">Latitud</label>
                  <input name="cnt_lat" id="cnt_lat" type="text" [(ngModel)]="infoObj.cnt_lat" class="form-control">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="cnt_lon">Longitud</label>
                  <input name="cnt_lon" id="cnt_lon" type="text" [(ngModel)]="infoObj.cnt_lon" class="form-control">
                </div>
              </div>
            </div>
            <agm-map
              [latitude]="lat"
              [longitude]="lon"
              [zoom]="16"
              (mapClick)="mapClicked($event)">
              <agm-marker [latitude]="lat" [longitude]="lon"></agm-marker>
            </agm-map>
            <div class="row p-2">
              <div class="col-md-6">
                  <button type="submit" name="submit"
                  class="btn btn-outline-lightning rounded-0 mb-2 mr-2">Actualizar</button>
              </div>
              <div class="col-md-6">
                  <button type="button" name="clear"
                  class="btn btn-outline-lightning rounded-0 mb-2" (click)="onResetContact(contactForm)">Reiniciar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
