<div id="preloader" *ngIf="!isLoaded">
  <div id="loader" *ngIf="!isLoaded"></div>
</div>
<div *ngIf="isLoaded">
  <h4 class="mb-4 text-muted">Dashboard </h4>
  <div class="row">
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="text-center" *ngIf="!isLoaded">
        <div class="spinner-border" style="color:#0095A6" role="status">
          <span class="sr-only">Cargando...</span>
        </div>
      </div>
      <div class="card border-0 rounded-0" *ngIf="isLoaded">
        <div class="card-body">
          <div class="card-innerBody d-flex align-items-center">
            <div class="card-icon text-light">
              <i class="fa fa-tasks" aria-hidden="true"></i>
            </div>
            <div class="ml-auto">
              <p class="card-label text-right text-muted">Servicios</p>
              <h4 class="card-text text-right ">{{numSrv}}</h4>
            </div>
          </div>
        </div>
        <div class="card-footer d-flex ">
          <small class="text-muted">Ult. añadido:  </small>
          <small class="text-info ml-auto">
            <!-- <i class="fa fa-caret-up" aria-hidden="true"></i> -->
            {{lastDateSrv | date}}
          </small>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 mb-4">
      <div class="text-center" *ngIf="!isLoaded">
        <div class="spinner-border" style="color:#0095A6" role="status">
          <span class="sr-only">Cargando...</span>
        </div>
      </div>
      <div class="card border-0 rounded-0" *ngIf="isLoaded">
        <div class="card-body">
          <div class="card-innerBody d-flex align-items-center">
            <div class="card-icon text-light">
              <i class="fa fa-globe" aria-hidden="true"></i>
            </div>
            <div class="ml-auto">
              <p class="card-label text-right text-muted">Talleres</p>
              <h4 class="card-text text-right">{{numWsp}}</h4>
            </div>
          </div>
        </div>
        <div class="card-footer d-flex">
          <small class="text-muted">Próximo Taller: </small>
          <small class="text-success ml-auto" *ngIf="isNextWsp">
            <!-- <i class="fa fa-caret-up" aria-hidden="true"></i> -->
            {{nextDateWsp | date}}
          </small>
          <small class="text-danger ml-auto" *ngIf="!isNextWsp">
            {{nextDateWsp}}
          </small>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 mb-4">
      <div class="text-center" *ngIf="!isLoaded">
        <div class="spinner-border" style="color:#0095A6" role="status">
          <span class="sr-only">Cargando...</span>
        </div>
      </div>
      <div class="card border-0 rounded-0" *ngIf="isLoaded">
        <div class="card-body">
          <div class="card-innerBody d-flex align-items-center">
            <div class="card-icon text-light">
              <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            </div>
            <div class="ml-auto">
              <p class="card-label text-right text-muted">Cursos</p>
              <h4 class="card-text text-right ">{{numCrs}}</h4>
            </div>
          </div>
        </div>
        <div class="card-footer d-flex ">
          <small class="text-muted">Próximo Curso: </small>
          <small class="text-success ml-auto" *ngIf="isNextCrs">
            {{nextDateCrs | date}}
          </small>
          <small class="text-danger ml-auto" *ngIf="!isNextCrs">
            {{nextDateCrs}}
          </small>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 mb-4">
      <div class="text-center" *ngIf="!isLoaded">
        <div class="spinner-border" style="color:#0095A6" role="status">
          <span class="sr-only">Cargando...</span>
        </div>
      </div>
      <div class="card border-0 rounded-0" *ngIf="isLoaded">
        <div class="card-body">
          <div class="card-innerBody d-flex align-items-center">
            <div class="card-icon text-light">
              <i class="fa fa-comments" aria-hidden="true"></i>
            </div>
            <div class="ml-auto">
              <p class="card-label text-right text-muted">Opiniones</p>
              <h4 class="card-text text-right ">{{numOpn}}</h4>
            </div>
          </div>
        </div>
        <div class="card-footer d-flex ">
          <small class="text-muted">Ult. añadida: </small>
          <small class="text-info ml-auto">
            <!-- <i class="fa fa-caret-up" aria-hidden="true"></i> -->
            {{nextDateOpn | date}}
          </small>
        </div>
      </div>
    </div>

  </div>


  <div>

    <div class="row">
      <div class="col-md-12 mb-4">
        <div class="card border-0 rounded-0">
          <div class="card-title mb-1 p-3">
            <h5>Cabecera principal (Slider) </h5>
            <p class="cssm-subtitle">Cambia el orden arrastrando la imagen o modifica la cabecera seleccionando una de ellas.</p>
          </div>
          <div class="card-body">
            <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let slider of sliders" cdkDrag>
                <div class="col mb-4">
                  <div class="card h-100" (click)="onSlider(slider)">
                    <img [src]="path+slider.image" class="card-img-top" alt="..."/>
                    <div class="card-body">
                      <h5 class="card-title">{{slider.title}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{slider.description}}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-title mb-1 p-3">
            <h5>Editar cabecera</h5>
          </div>
          <div class="card-body">
            <form (ngSubmit)="onSubmit( sliderForm )" #sliderForm="ngForm" enctype="multipart/form-data">
            <!-- <div class="form-group"> -->
              <label for="title" class="col-sm-2 col-form-label text-nowrap">Título</label>
              <span *ngIf="sliderForm.submitted && sliderForm.controls['title'].errors"
                    class="text-danger animated fadeIn">El título es obligatorio</span>
              <div class="col-sm-10">
                <input type="text" class="form-control rounded-0" name="title" [disabled]="disabledForm"
                [(ngModel)]="sliderObj.title" required>
              </div>
            <!-- </div> -->
            <!-- <div class="form-group"> -->
              <label for="descSlider" class="col-sm-2 col-form-label text-nowrap">Descripción</label>
              <span *ngIf="sliderForm.submitted && sliderForm.controls['description'].errors"
                    class="text-danger animated fadeIn">La descripción es obligatoria</span>
              <div class="col-sm-10">
                <input type="text" class="form-control rounded-0" name="description" [disabled]="disabledForm"
                [(ngModel)]="sliderObj.description" required>
              </div>
            <!-- </div> -->
            <!-- <div class="form-group"> -->
              <label for="colorSlider" class="col-sm-2 col-form-label text-nowrap">Color de letra</label>
              <span *ngIf="sliderForm.submitted && sliderForm.controls['color'].errors"
                    class="text-danger animated fadeIn">El color es obligatorio</span>
              <div class="col-sm-10">
                <input id="color" type="color" name="color" [disabled]="disabledForm"
                [(ngModel)]="sliderObj.color_text" required>
              </div>
            <!-- </div>
            <div class="form-group"> -->
              <label for="imageSlider" class="col-sm-2 col-form-label text-nowrap">Imágen</label>
              <span *ngIf="uploadSuccess" style="font-size: 1.5em; color: limegreen;"><i class="far fa-check-circle"></i></span>
              <div class="col-sm-10">
                <input #cssmFile type="file" name="image" placeholder="Seleccione imagen" accept="image/png, image/jpeg" (change)="onFileChanged($event)" [disabled]="disabledForm">
              </div>
            <!-- </div> -->
            <!-- <div class="form-group"> -->
              <label for="" class="col-sm-2 col-form-label"></label>
                <div class="row">
                  <div class="col-md-6">
                    <button type="submit" name="submit"
                    class="btn btn-outline-lightning rounded-0 mb-2 mr-2" [disabled]="disabledForm">Aceptar</button>
                  </div>
                  <div class="col-md-6">
                    <button type="button" name="cancel"
                    class="btn btn-outline-lightning rounded-0 mb-2" [disabled]="disabledForm" (click)="onCancel()">Cancelar</button>
                  </div>
                </div>
              <!-- <div class="col-sm-10 mb-3"></div> -->
            <!-- </div> -->
          </form>
          </div>

        </div>
      </div>
    </div>
  </div>


  <div>

    <div class="row">

      <div class="col-md-12 mb-4">

        <div class="card border-0 rounded-0">
          <div class="card-title mb-1 p-3">
            <h5>Talleres en página de inicio
              <a href="http://localhost:4300/#/admin/talleres">
                <span style="font-size: 1.7em; color: #0095A6;">
                  <i class="fas fa-edit float-right"></i>
                </span>
              </a>
            </h5>
          </div>
          <div class="card-body">
            <div class="table-responsive-md">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Fecha</th>
                      <th>Horario</th>
                      <th>Precio</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let workshop of wspInHome">
                      <td>{{workshop.title}}</td>
                      <td class="align-middle">
                        {{workshop.session_date | date}}
                        <!-- <div class="progress" style="height: 3px;">
                          <div class="progress-bar bg-danger" style="width: 35% ;"></div>
                        </div> -->
                      </td>
                      <td>{{workshop.session_start | timeWithoutSec}} - {{workshop.session_end | timeWithoutSec}}</td>
                      <td>{{workshop.price}}€</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>

    <div class="row">

      <div class="col-md-12 mb-4">

        <div class="card border-0 rounded-0">
          <div class="card-title mb-1 p-3">
            <h5>Opiniones en página de inicio
              <a href="http://localhost:4300/#/admin/opiniones">
                <span style="font-size: 1.7em; color: #0095A6;">
                  <i class="fas fa-edit float-right"></i>
                </span>
              </a>
            </h5>
          </div>
          <div class="card-body">
            <div class="table-responsive-md">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Imagen</th>
                      <th>Nombre</th>
                      <th>Comentario</th>
                      <th>Valoración</th>
                      <th>Fecha</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let opinion of opnInHome">
                        <td><img [src]="path+opinion.image" name="picture" id="picture" class="card-img-top reduce-img" alt="..."/></td>
                        <td>{{opinion.name}}</td>
                        <td>{{opinion.commentary}}</td>
                        <td>
                          <span *ngFor='let in of counter(opinion.rating);let i = index' style="font-size: 0.7em; color: gold;">
                            <i class="fas fa-star"></i>
                          </span>
                        </td>
                        <td>{{opinion.create_date | date}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
