<!-- Loading -->
<div id="preloader" *ngIf="!isLoaded">
  <div id="loader"></div>
</div>

<!-- Content -->
<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <div class="card-title mb-1 p-3">
          <h5><b>{{globalCnstns.K_USER_PROFILE}}</b>
            <a *ngIf="!activeForm" [routerLink]="" (click)="onEditUser()" >
              <span  style="font-size: 1.5em; color: #0095A6;">
                <i class="fas fa-edit float-right" title="Editar"></i>
              </span>
            </a>
            <span *ngIf="activeForm" style="font-size: 1.5em; color: #adb5bd;">
              <i class="fas fa-edit float-right"
              data-toggle="tooltip" data-placement="left" title="Debes cancelar la edición de los datos"></i>
            </span>
          </h5>
        </div>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmitUser( userForm )" #userForm="ngForm" enctype="multipart/form-data">
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label for="usr_email">Email*</label>
                <input name="usr_email" id="usr_email" type="email" [(ngModel)]="userObj.email" class="form-control" disabled>
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label for="usr_name">Nombre*</label>
                <input name="usr_name" id="usr_name" type="text" [(ngModel)]="userObj.name"
                  class="form-control" [ngClass]="{ 'is-invalid': userForm.submitted && userForm.controls['usr_name'].errors }"
                  [disabled]="disabledForm" required>
                  <div *ngIf="userForm.submitted && userForm.controls['usr_name'].errors" class="invalid-feedback">
                      <div *ngIf="userForm.controls['usr_name'].errors.required">El nombre es obligatorio</div>
                  </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label for="usr_surname">Apellidos*</label>
                <input name="usr_surname" id="usr_surname" type="text" [(ngModel)]="userObj.surname"
                  class="form-control" [ngClass]="{ 'is-invalid': userForm.submitted && userForm.controls['usr_surname'].errors }"
                  [disabled]="disabledForm" required>
                  <div *ngIf="userForm.submitted && userForm.controls['usr_surname'].errors" class="invalid-feedback">
                      <div *ngIf="userForm.controls['usr_surname'].errors.required">Los apellidos son obligatorios</div>
                  </div>
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label for="usr_telephone">Teléfono*</label>
                <input name="usr_telephone" id="usr_telephone" type="text" [(ngModel)]="userObj.telephone"
                  class="form-control" [ngClass]="{ 'is-invalid': userForm.submitted && userForm.controls['usr_telephone'].errors }"
                  [disabled]="disabledForm" required>
                  <div *ngIf="userForm.submitted && userForm.controls['usr_telephone'].errors" class="invalid-feedback">
                      <div *ngIf="userForm.controls['usr_telephone'].errors.required">El teléfono es obligatorio</div>
                  </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="usr_address">Dirección</label>
                <input name="usr_address" id="usr_address" type="text" [(ngModel)]="userObj.address" class="form-control" [disabled]="disabledForm">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label for="usr_city">Población</label>
                <input name="usr_city" id="usr_city" type="text" [(ngModel)]="userObj.city" class="form-control" [disabled]="disabledForm">
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <label for="usr_province">Provincia</label>
                <input name="usr_province" id="usr_province" type="text" [(ngModel)]="userObj.province" class="form-control" [disabled]="disabledForm">
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label for="usr_poscode">Código Postal</label>
                <input name="usr_poscode" id="usr_poscode" type="number" [(ngModel)]="userObj.zipcode" class="form-control" [disabled]="disabledForm">
              </div>
            </div>
          </div>
          <div class="row p-2">
            <div class="col-md-6">
                <button type="submit" name="submit"
                class="btn btn-outline-lightning rounded-0 mb-2 mr-2" [hidden]="disabledForm">
                {{globalCnstns.K_UPDATE_BUTTON_STR}}
                </button>
            </div>
            <div class="col-md-6">
                <button type="button" name="clear"
                class="btn btn-outline-lightning rounded-0 mb-2" (click)="onCancelEdit()" [hidden]="disabledForm">
                {{globalCnstns.K_CANCEL_BUTTON_STR}}
                </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img [src]="assetsImg+'bg_contact_info.jpg'" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
            <a [routerLink]="" (click)="scrollToChangeImage()" >
              <img class="avatar border-gray" [src]="path+userObj.image" name="picture" id="picture" />
            </a>
            <h5 class="title" style="color: #0095A6;">{{globals.user_name}}</h5>
          <p class="description">
            {{globals.rol_name}}
          </p>
        </div>
        <div class="mb-3">
          <hr>
        </div>
        <div class="card" style="padding: 8px;">
          <a class="btn" [routerLink]="['/admin/notificaciones']" title="Ir a notificaciones">
            <span  style="font-size: 1em; color: #0095A6;">
              <i class="fas fa-bell"></i> {{numNotifications}} Notificaciones sin leer
            </span>
          </a>
        </div>
        <div class="card btn" style="padding: 8px;">
          <span style="font-size: 1em; color: #0095A6;">
            <i class="fas fa-sign-out-alt"></i> Últ. conexión {{userObj.last_login | date}}
          </span>
        </div>
      </div>
      <hr>
      <div class="button-container">
        <div *ngIf="!userObj.user_fcbk && !userObj.user_ytube && !userObj.user_insta" class="">
          <a [routerLink]="" (click)="scrollToForm()" >
            <span  style="font-size: 1em; color: #0095A6;">
              <i class="fas fa-hashtag"></i> Añada una red social...
            </span>
          </a>
        </div>
        <button *ngIf="userObj.user_fcbk" class="btn btn-neutral btn-icon btn-round btn-lg">
          <a (click)="goToLink(userObj.user_fcbk)" title="Facebook" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </button>
        <button *ngIf="userObj.user_ytube" class="btn btn-neutral btn-icon btn-round btn-lg">
          <a (click)="goToLink(userObj.user_ytube)" title="Youtube" target="_blank">
            <i class="fab fa-youtube"></i>
          </a>
        </button>
        <button *ngIf="userObj.user_insta" class="btn btn-neutral btn-icon btn-round btn-lg">
          <a (click)="goToLink(userObj.user_insta)" title="Instagram" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        </button>
      </div>
    </div>
  </div>
</div>

<div>
  <div #editSocial id="editSc" class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title mb-1 p-3">
            <h5><b>{{globalCnstns.K_USER_SOCIAL_LINKS}}</b>
              <a *ngIf="!activeFormSocial" [routerLink]="" (click)="onEditSocial()" >
                <span  style="font-size: 1.5em; color: #0095A6;">
                  <i class="fas fa-edit float-right" title="Editar"></i>
                </span>
              </a>
              <span *ngIf="activeFormSocial" style="font-size: 1.5em; color: #adb5bd;">
                <i class="fas fa-edit float-right"
                data-toggle="tooltip" data-placement="left" title="Debes cancelar la edición de las redes"></i>
              </span>
            </h5>
          </div>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmitSocial( socialForm )" #socialForm="ngForm" enctype="multipart/form-data">
            <div class="row p-2">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="user_fcbk">Facebook</label>
                  <input name="user_fcbk" id="user_fcbk" type="url" pattern="https?://.+" [(ngModel)]="userObj.user_fcbk" class="form-control"
                  [ngClass]="{ 'is-invalid': socialForm.submitted && socialForm.controls['user_fcbk'].errors }" [disabled]="disabledFormSocial">
                  <div *ngIf="socialForm.submitted && socialForm.controls['user_fcbk'].errors" class="invalid-feedback">
                      <div *ngIf="socialForm.controls['user_fcbk'].errors">Formato no válido.</div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="user_ytube">YouTube</label>
                  <input name="user_ytube" id="user_ytube" type="url" pattern="https?://.+" [(ngModel)]="userObj.user_ytube" class="form-control"
                  [ngClass]="{ 'is-invalid': socialForm.submitted && socialForm.controls['user_ytube'].errors }" [disabled]="disabledFormSocial">
                  <div *ngIf="socialForm.submitted && socialForm.controls['user_ytube'].errors" class="invalid-feedback">
                      <div *ngIf="socialForm.controls['user_ytube'].errors">Formato no válido.</div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="user_insta">Instagram</label>
                  <input name="user_insta" id="user_insta" type="url" pattern="https?://.+" [(ngModel)]="userObj.user_insta" class="form-control"
                  [ngClass]="{ 'is-invalid': socialForm.submitted && socialForm.controls['user_insta'].errors }" [disabled]="disabledFormSocial">
                  <div *ngIf="socialForm.submitted && socialForm.controls['user_insta'].errors" class="invalid-feedback">
                      <div *ngIf="socialForm.controls['user_insta'].errors">Formato no válido.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row p-2">
              <div class="col-md-12">
                <p class="cssm-subtitle" [hidden]="disabledFormSocial">
                  <span  style="font-size: 0.8em; color: #eb6f00;" [hidden]="disabledFormSocial">
                    <i class="fas fa-exclamation-triangle" title="Atención">  </i>
                  </span>
                  {{globalCnstns.K_USER_INFO_SOCIAL_LINKS}}
                </p>
              </div>
            </div>
            <div class="row p-2">
              <div class="col-md-6">
                  <button type="submit" name="submit"
                  class="btn btn-outline-lightning rounded-0 mb-2 mr-2" [hidden]="disabledFormSocial">
                  {{globalCnstns.K_MODIFY_BUTTON_STR}}
                  </button>
              </div>
              <div class="col-md-6">
                  <button type="button" name="clear"
                  class="btn btn-outline-lightning rounded-0 mb-2" (click)="onCancelEditSocial()" [hidden]="disabledFormSocial">
                  {{globalCnstns.K_CANCEL_BUTTON_STR}}
                  </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div #editImage id="editIm" class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title mb-1 p-3">
            <h5><b>{{globalCnstns.K_USER_CHANGE_IMAGE}}</b>
              <a *ngIf="!activeFormImage" [routerLink]="" (click)="onEditImage()" >
                <span  style="font-size: 1.5em; color: #0095A6;">
                  <i class="fas fa-edit float-right" title="Editar"></i>
                </span>
              </a>
              <span *ngIf="activeFormImage" style="font-size: 1.5em; color: #adb5bd;">
                <i class="fas fa-edit float-right"
                data-toggle="tooltip" data-placement="left" title="Debes cancelar la edición de la imagen"></i>
              </span>
            </h5>
          </div>
        </div>
        <form (ngSubmit)="onSubmitImage( imageForm )" #imageForm="ngForm" enctype="multipart/form-data">
          <div *ngIf="activeFormImage" class="row p-2">
            <div class="col-md-6">
              <input #cssmFile type="file" name="image" placeholder="Seleccione imagen" accept="image/png, image/jpeg" (change)="onFileChanged($event)">
            </div>
            <div class="col-md-6">
              <div class="progress form-group" *ngIf="progress > 0">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress"></div>
              </div>
            </div>
          </div>
          <div class="row p-2">
            <div class="col-md-4">
                <button type="submit" name="submit"
                class="btn btn-outline-lightning rounded-0 mb-2 mr-2" [disabled]="!uploadSuccess" [hidden]="disabledFormImage">
                {{globalCnstns.K_MODIFY_BUTTON_STR}}
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" name="clear"
                class="btn btn-outline-lightning rounded-0 mb-2" (click)="onDeleteImage()" [hidden]="disabledFormImage">
                {{globalCnstns.K_USER_CURRENT_DELETE}}
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" name="clear"
                class="btn btn-outline-lightning rounded-0 mb-2" (click)="onCancelEditImage()" [hidden]="disabledFormImage">
                {{globalCnstns.K_CANCEL_BUTTON_STR}}
                </button>
            </div>
          </div>
          <div class="row p-2">
            <div class="col-md-12">
              <div class="card-body">
                <div class="card h-100">
                  <img [src]="path+userObj.image" width="300" name="picture" id="picture" alt="..." style="align-self: center;"/>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title mb-1 p-3">
            <h5>
              <span  style="font-size: 0.8em; color: #eb6f00;">
                <i class="fas fa-exclamation-triangle" title="Precaución"></i>
              </span>
              <b>{{globalCnstns.K_USER_MODIFY_PASS}}</b>
              <a *ngIf="!activeFormPass" [routerLink]="" (click)="onEditPassword()" >
                <span  style="font-size: 1.5em; color: #0095A6;">
                  <i class="fas fa-edit float-right" title="Editar"></i>
                </span>
              </a>
              <span *ngIf="activeFormPass" style="font-size: 1.5em; color: #adb5bd;">
                <i class="fas fa-edit float-right"
                data-toggle="tooltip" data-placement="left" title="Debes cancelar la edición de la contraseña"></i>
              </span>
            </h5>
          </div>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmitPass( passForm )" #passForm="ngForm" enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="curr_Pass">Contraseña actual*</label>
                  <input name="curr_Pass" id="curr_Pass" type="password" [(ngModel)]="currentPass"
                    class="form-control" [ngClass]="{ 'is-invalid': passForm.submitted && passForm.controls['curr_Pass'].errors }"
                    [disabled]="disabledFormPass" required minlength="6">
                    <div *ngIf="passForm.submitted && passForm.controls['curr_Pass'].errors" class="invalid-feedback">
                        <div *ngIf="passForm.controls['curr_Pass'].errors.required">Contraseña obligatoria</div>
                        <div *ngIf="passForm.controls['curr_Pass'].errors.minlength">Debe contener mínimo 6 caracteres</div>
                    </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="new_Pass">Nueva contraseña*</label>
                  <input name="new_Pass" id="new_Pass" type="password" [(ngModel)]="newPass"
                    class="form-control" [ngClass]="{ 'is-invalid': passForm.submitted && passForm.controls['new_Pass'].errors }"
                    [disabled]="disabledFormPass" required minlength="6">
                    <div *ngIf="passForm.submitted && passForm.controls['new_Pass'].errors" class="invalid-feedback">
                        <div *ngIf="passForm.controls['new_Pass'].errors.required">Nueva contraseña obligatoria</div>
                        <div *ngIf="passForm.controls['new_Pass'].errors.minlength">Debe contener mínimo 6 caracteres</div>
                    </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="repet_NewPass">Repetir nueva contraeña*</label>
                  <input name="repet_NewPass" id="repet_NewPass" type="password" [(ngModel)]="repetNewPass"
                    class="form-control" [ngClass]="{ 'is-invalid': passForm.submitted && passForm.controls['repet_NewPass'].errors }"
                    [disabled]="disabledFormPass" required minlength="6">
                    <div *ngIf="passForm.submitted && passForm.controls['repet_NewPass'].errors" class="invalid-feedback">
                        <div *ngIf="passForm.controls['repet_NewPass'].errors.required">Repetir nueva contraseña</div>
                        <div *ngIf="passForm.controls['repet_NewPass'].errors.minlength">Debe contener mínimo 6 caracteres</div>
                    </div>
                </div>
              </div>
            </div>
            <div class="row p-2">
              <div class="col-md-6">
                  <button type="submit" name="submit"
                  class="btn btn-outline-lightning rounded-0 mb-2 mr-2" [hidden]="disabledFormPass">
                  {{globalCnstns.K_MODIFY_BUTTON_STR}}
                  </button>
              </div>
              <div class="col-md-6">
                  <button type="button" name="clear"
                  class="btn btn-outline-lightning rounded-0 mb-2" (click)="onCancelEditPass(passForm)" [hidden]="disabledFormPass">
                  {{globalCnstns.K_CANCEL_BUTTON_STR}}
                  </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
