<div #subsScroll id="scroll" class="panel-header panel-header-sm">
  <hr>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <div class="card-title mb-1 p-3">
          <h5>Perfil de usuario</h5>
        </div>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label for="usr_email">Email</label>
                <input name="usr_email" id="usr_email" type="email" class="form-control">
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label for="usr_name">Nombre</label>
                <input name="usr_name" id="usr_name" type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label for="usr_surname">Apellidos</label>
                <input name="usr_surname" id="usr_surname" type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label for="usr_telephone">Teléfono</label>
                <input name="usr_telephone" id="usr_telephone" type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="usr_address">Dirección</label>
                <input name="usr_address" id="usr_address" type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label for="usr_city">Población</label>
                <input name="usr_city" id="usr_city" type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <label for="usr_province">Provincia</label>
                <input name="usr_province" id="usr_province" type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label for="usr_poscode">Código Postal</label>
                <input name="usr_poscode" id="usr_poscode" type="number" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="usr_about">Acerca de mí</label>
                <textarea name="usr_about" id="usr_about" rows="4" cols="80" class="form-control"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="./assets/img/bg_contact_info.jpg" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img class="avatar border-gray" src="./assets/img/girl.png" alt="...">
            <h5 class="title">Admin</h5>
          </a>
          <p class="description">
            Administrador
          </p>
        </div>
        <p class="description text-center">
          Descripción o estudios de quien inicia sesión
        </p>
      </div>
      <hr>
      <div class="button-container">
        <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
          <i class="fab fa-facebook-f"></i>
        </button>
        <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
          <i class="fab fa-youtube"></i>
        </button>
        <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
          <i class="fab fa-instagram"></i>
        </button>
      </div>
    </div>
  </div>
</div>
