@import "./parts/navbar";
@import "./parts/sidebar";
@import "./parts/themes";
@import "./parts/dashboard";
@import "./parts/contact";

 /* .icon-style {
	 width: 35px;
	 height: 35px;
	 text-align: center;
	 line-height: 35px;
	 border-radius: 50%;
	 border: 1px solid;
	 font-size: 0.9rem;
} */
 body {
	 height: 100vh;
	 margin: 0;
	 padding-top: 60px;
}
 .wrapper {
	 height: 100%;
}
 .wrapper main {
	 display: flex;
	 height: 100%;
}
 .wrapper main .pages {
	 overflow: auto;
}
 .wrapper main .overlay {
	 position: fixed;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 left: 0;
	 z-index: 100;
	 opacity: 0.7;
	 display: none;
}
 .wrapper main .overlay.show {
	 display: block;
}
 @media (min-width: 768px) {
	 .wrapper main .overlay.show {
		 display: none;
	}
}
 .wrapper.toggeled-sidebar main .overlay {
	 display: block;
}
 @media (min-width: 768px) {
	 .wrapper.toggeled-sidebar main .overlay {
		 display: none;
	}
}
 .toast {
	 opacity: 1;
}

#toast-container > div {
    opacity: 1;
}

h3.fancy, .ck.ck-button.ckeditor-title {
  color: #fff;
  font-family: "Amatic SC", cursive;
  font-size: 2rem;
  font-weight: 400;
  font-weight: bold;
  line-height: 1.2;
  color: #0e94a0;
}

p.fancy, .ck.ck-button.ckeditor-paragraph {
  margin: 0;
  font-family: 'Handlee', cursive;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5;
  color: #638699;
  text-align: left;
  background-color: #fff;
}
