<div #subsScroll id="scroll"></div>
<div>
  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-title mb-1 p-3">
          <h5>Talleres ({{numWorkShops}} resultados)
            <a *ngIf="!activeForm" [routerLink]="" (click)="onNewWorkshop()" >
              <span  style="font-size: 1.7em; color: #0095A6;">
                <i class="fas fa-plus-square float-right"></i>
              </span>
            </a>
            <span *ngIf="activeForm" style="font-size: 1.7em; color: #adb5bd;">
              <i class="fas fa-plus-square float-right"
              data-toggle="tooltip" data-placement="left" title="Debes cancelar la edición del taller"></i>
            </span>
          </h5>
        </div>
        <div class="card-body">
          <div class="table-responsive-md">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Precio</th>
                    <th>Inicio</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let workshop of workShops">
                    <td>{{workshop.title}}</td>
                    <td class="align-middle">
                      {{workshop.session_date | date}}
                    </td>
                    <td>{{workshop.session_start}}</td>
                    <td>{{workshop.price}}€</td>
                    <td *ngIf="workshop.home==0">
                      <i class="fas fa-minus"></i>
                    </td>
                    <td *ngIf="workshop.home==1">
                      <i class="fas fa-check"></i>
                    </td>
                    <td>
                      <a class="btn btn-sm btn-outline-lightning rounded-0"
                          (click)="onEditWorkshop(workshop)" title="Ver/Editar">
                        <i class="far fa-edit"></i>
                      </a>
                    </td>
                    <td>
                      <a class="btn btn-sm btn-outline-lightning rounded-0"
                          (click)="onDeleteWorkshop(workshop)" title="Eliminar">
                        <i class="far fa-trash-alt"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <app-pagination (pageEmitter)="goToPage($event)" [page]="page" [totalPages]="totalPages" [numElements]="numWorkShops" [numberPage]="numberPage"></app-pagination>
    </div>
  </div>

<div #editWorkshop id="editWs"></div>
  <div *ngIf="activeForm" class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title mb-1 p-3">
            <h5 *ngIf="isEditForm">Editar taller</h5>
            <h5 *ngIf="!isEditForm">Crear taller</h5>
          </div>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit( workshopForm )" #workshopForm="ngForm" enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-12">
                <label><strong>General</strong></label>
              </div>
            </div>
            <div class="row p-2">
              <div class="col-md-10">
                <div class="form-group">
                  <label for="title">Nombre/Título</label>
                  <input name="title" id="title" type="text" [(ngModel)]="workShopObj.title" class="form-control">
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="price">Precio (€)</label>
                  <input name="price" id="price" type="number" [(ngModel)]="workShopObj.price" class="form-control">
                </div>
              </div>
            </div>
            <div class="row p-2">
              <div class="col-md-10">
                <div class="form-group">
                  <label for="subtitle">Subtítulo</label>
                  <input name="subtitle" id="subtitle" type="text" [(ngModel)]="workShopObj.subtitle" class="form-control">
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="home">Página de inicio</label>
                  <input name="home" id="home" type="checkbox" [(ngModel)]="inHomeChk"
                    data-md-icheck (change)="toggleVisibility($event)"
                    class="form-control">
                </div>
              </div>
            </div>
            <div class="row p-2">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="home_desc">Breve descripción para la página de inicio</label>
                  <textarea name="home_desc" id="home_desc" [(ngModel)]="workShopObj.description_home" rows="4" cols="80" class="form-control"></textarea>
                </div>
              </div>
            </div>
            <div class="row p-2">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="desc">Información del taller</label>
                  <textarea name="desc" id="desc" [(ngModel)]="workShopObj.description" rows="6" cols="80" class="form-control"></textarea>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <label><strong>Imagen</strong></label>
              </div>
            </div>
            <div class="row p-2">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="picture">Visualización</label>
                  <div class="card-body">
                    <div class="col mb-4">
                      <div class="card h-100">
                        <img [src]="path+workShopObj.image" name="picture" id="picture" class="card-img-top" alt="..."/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row p-2">
              <div class="col-md-6">
                <button *ngIf="!changeImage" type="button" name="button"
                  class="btn btn-outline-lightning rounded-0 mb-2"
                  (click)="onEditImage()">Editar imagen
                </button>
                <button *ngIf="changeImage" type="button" name="button"
                  class="btn btn-outline-lightning rounded-0 mb-2"
                  (click)="onCancelEditImage()">Cancelar
                </button>
              </div>
            </div>
            <div *ngIf="changeImage" class="row p-2">
              <span *ngIf="uploadSuccess" style="font-size: 1.5em; color: limegreen;"><i class="far fa-check-circle"></i></span>
              <div class="col-md-12">
                <input #cssmFile type="file" name="image" placeholder="Seleccione imagen" accept="image/png, image/jpeg" (change)="onFileChanged($event)" [disabled]="disabledForm">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <label><strong>Programación</strong></label>
              </div>
            </div>
            <div class="row p-2">
              <div class="col-md-9">
                <div class="form-group">
                  <label for="address">Direccion (Donde se imparte)</label>
                  <input name="address" id="address" type="text" [(ngModel)]="workShopObj.address" class="form-control">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="date">Fecha</label>
                  <input name="date" id="date" type="date" [ngModel]="workShopObj.session_date | date:'yyyy-MM-dd'" (ngModelChange)="workShopObj.session_date = $event" class="form-control">
                </div>
              </div>
            </div>
            <div class="row p-2">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="init_time">Hora de inicio</label>
                  <input name="time" id="time" type="time" [(ngModel)]="workShopObj.session_start" class="form-control">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="end_time">Hora de finalización</label>
                  <input name="end_time" id="end_time" type="time" [(ngModel)]="workShopObj.session_end" class="form-control">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="n_sessions">Número de sesiones</label>
                  <input name="n_sessions" id="n_sessions" type="number" [(ngModel)]="workShopObj.sessions" class="form-control">
                </div>
              </div>
            </div>
            <div class="row p-2">
              <div class="col-md-6">
                  <button *ngIf="isEditForm" type="submit" name="submit"
                  class="btn btn-outline-lightning rounded-0 mb-2 mr-2">Actualizar</button>
                  <button *ngIf="!isEditForm" type="submit" name="submit"
                  class="btn btn-outline-lightning rounded-0 mb-2 mr-2">Crear</button>
              </div>
              <div class="col-md-6">
                  <button type="button" name="clear"
                  class="btn btn-outline-lightning rounded-0 mb-2" (click)="onCancel(workshopForm)">Cancelar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
