<aside class="sidebar shadow-sm">
  <div class="sidebar-profile d-flex flex-column justify-content-center pt-5 pb-3">
    <div class="picture-wrapper mb-4">
      <div class="user-picture m-auto">
        <img [src]="globals.imgRootPath+globals.userImage" class="img-fluid" alt="">
      </div>
    </div>
    <div class="profile-details text-center pb-4">
      <p class="mb-0 text-uppercase name">{{globals.user_name}}</p>
      <small class="text-uppercase role">{{globals.rol_name}}</small>
    </div>
  </div>
  <div class="sidebar-search pt-1 pb-1 pl-3 pr-3">
    <input type="search" class="form-control rounded-pill" name="search" placeholder="Search ...">
  </div>
  <nav class="sidebar-menu pt-3 pb-3">
    <ul class="menu-items">
      <li >
        <a [routerLink]="['admin/dashboard']" routerLinkActive="active" (click)="toggleSidebar()" title="Página principal">
          <i class="fa fa-tv"></i>
          <span>{{globalCnstns.K_DASHBOARD_STR}}</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['admin/contacto']" routerLinkActive="active" (click)="toggleSidebar()" title="Información de contacto">
          <i class="far fa-address-card"></i>
          <span>{{globalCnstns.K_INFO_CONTACT_STR}}</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['admin/nosotras']" routerLinkActive="active" (click)="toggleSidebar()" title="Nosotras">
          <i class="far fa-id-badge"></i>
          <span>{{globalCnstns.K_ABOUT_US_STR}}</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['admin/servicios']" routerLinkActive="active" (click)="toggleSidebar()" title="Servicios">
          <i class="fa fa-tasks"></i>
          <span>{{globalCnstns.K_SERVICE_STR}}</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['admin/talleres']" routerLinkActive="active" (click)="toggleSidebar()" title="Talleres">
          <i class="fa fa-tools"></i>
          <span>{{globalCnstns.K_WORKSHOP_STR}}</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['admin/cursos']" routerLinkActive="active" (click)="toggleSidebar()" title="Cursos">
          <i class="fas fa-graduation-cap"></i>
          <span>{{globalCnstns.K_COURSE_STR}}</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['admin/opiniones']" routerLinkActive="active" (click)="toggleSidebar()" title="Opiniones">
          <i class="fas fa-comment-dots"></i>
          <span>{{globalCnstns.K_OPINION_STR}}</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
