<aside class="sidebar shadow-sm">

  <div class="sidebar-profile d-flex flex-column justify-content-center pt-5 pb-3">
    <div class="picture-wrapper mb-4">
      <div class="user-picture m-auto">
        <img src="./assets/img/girl.png" class="img-fluid" alt="">
      </div>
    </div>
    <div class="profile-details text-center pb-4">
      <p class="mb-0 text-uppercase name">{{globals.user}}</p>
      <small class="text-uppercase role">{{globals.rol}}</small>
    </div>
  </div>
  <div class="sidebar-search pt-1 pb-1 pl-3 pr-3">
    <input type="search" class="form-control rounded-pill" name="search" placeholder="Search ...">
  </div>
  <nav class="sidebar-menu pt-3 pb-3">
    <ul class="menu-items">
      <li >
        <a [routerLink]="['admin/dashboard']" routerLinkActive="active">
          <i class="fa fa-tv"></i>
          <span>Dashboard</span>
          <!-- <span class="badge badge-warning rounded-0 text-dark p-1">NEW</span> -->
        </a>
      </li>
      <li>
        <a [routerLink]="['admin/contacto']" routerLinkActive="active">
          <i class="far fa-address-card"></i>
          <span>Info. Contacto</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['admin/nosotras']" routerLinkActive="active">
          <i class="far fa-id-badge"></i>
          <span>Nosotras</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['admin/servicios']" routerLinkActive="active">
          <i class="fa fa-tasks"></i>
          <span>Servicios</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['admin/talleres']" routerLinkActive="active">
          <i class="fa fa-globe"></i>
          <span>Talleres</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['admin/cursos']" routerLinkActive="active">
          <i class="fas fa-graduation-cap"></i>
          <span>Cursos</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['admin/opiniones']" routerLinkActive="active">
          <i class="fas fa-comment-dots"></i>
          <span>Opiniones</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/notifications" routerLinkActive="active">
          <i class="far fa-comments"></i>
          <span>Blog</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
