<div id="preloader" *ngIf="!isLoaded">
  <div id="loader"></div>
</div>
<div>
  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-title mb-1 p-3">
          <h5><b>Servicios ({{numServices}} resultados)</b>
            <a *ngIf="!activeForm" [routerLink]="" (click)="onNewService()" >
              <span  style="font-size: 1.7em; color: #0095A6;">
                <i class="fas fa-plus-square float-right" title="Añadir"></i>
              </span>
            </a>
            <span *ngIf="activeForm" style="font-size: 1.7em; color: #adb5bd;">
              <i class="fas fa-plus-square float-right"
              data-toggle="tooltip" data-placement="left" title="Debes cancelar la edición del servicio"></i>
            </span>
          </h5>
        </div>
        <div class="card-body">
          <div class="table-responsive-md">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Imagen</th>
                    <th>Servicio</th>
                    <th>Información</th>
                    <th>Activo</th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody *ngIf="services?.length">
                  <tr *ngFor="let service of services">
                    <td class="align-middle"><img [src]="path+service.image" name="picture" id="picture" width="100" alt="..."/></td>
                    <td class="align-middle">{{service.title}}</td>
                    <td class="align-middle">{{service.subtitle}}</td>
                    <td  class="align-middle" *ngIf="service.active==0">
                      <i class="fas fa-minus"></i>
                    </td>
                    <td  class="align-middle" *ngIf="service.active==1">
                      <i class="fas fa-check"></i>
                    </td>
                    <td class="align-middle">
                      <a class="btn btn-sm btn-outline-lightning rounded-0"
                          (click)="onActiveService(service)" title="Activa/Desactiva el servicio. Esto hará que sea visible o no para los usuarios de la web.">
                        <i class="far fa-eye-slash" *ngIf="service.active==1"></i>
                        <i class="far fa-eye" *ngIf="service.active==0"></i>
                      </a>
                    </td>
                    <td class="align-middle">
                      <a class="btn btn-sm btn-outline-lightning rounded-0"
                          (click)="onEditService(service)" title="Ver/Editar">
                        <i class="far fa-edit"></i>
                      </a>
                    </td>
                    <td class="align-middle">
                      <a class="btn btn-sm btn-outline-lightning rounded-0"
                          (click)="onDeleteService(service)" title="Eliminar">
                        <i class="far fa-trash-alt"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="!services?.length">
                  <tr>
                    <td class="align-middle text-muted" colspan="9" align="center">
                      <span><i class="fas fa-info-circle"></i></span> No existen registros
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <app-pagination (pageEmitter)="goToPage($event)" [page]="page" [totalPages]="totalPages" [numElements]="numServices" [numberPage]="numberPage"></app-pagination>
    </div>
  </div>

<div #editService id="editSrv"></div>
  <div *ngIf="activeForm" class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title mb-1 p-3">
            <h5 *ngIf="isEditForm">Editar servicio</h5>
            <h5 *ngIf="!isEditForm">Crear servicio</h5>
          </div>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit( serviceForm )" #serviceForm="ngForm" enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-12">
                <label><strong>General</strong></label>
              </div>
            </div>
            <div class="row p-2">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="title">Nombre/Título</label>
                  <input name="title" id="title" type="text" [(ngModel)]="serviceObj.title" class="form-control">
                </div>
              </div>
            </div>
            <div class="row p-2">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="subtitle">Breve información del servcio</label>
                  <textarea name="subtitle" id="subtitle" [(ngModel)]="serviceObj.subtitle" rows="4" cols="80" class="form-control"></textarea>
                </div>
              </div>
            </div>
            <div class="row p-2">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="desc">Descripción del servcio</label>
                  <textarea name="desc" id="desc" [(ngModel)]="serviceObj.description" rows="4" cols="80" class="form-control"></textarea>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <label><strong>Imagen</strong></label>
              </div>
            </div>
            <div class="row p-2">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="picture">Visualización</label>
                  <div class="card-body">
                    <div class="col mb-4">
                      <div class="card h-100">
                        <img [src]="path+serviceObj.image" name="picture" id="picture" class="card-img-top" alt="..."/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row p-2">
              <div class="col-md-6">
                <button *ngIf="!changeImage" type="button" name="button"
                  class="btn btn-outline-lightning rounded-0 mb-2"
                  (click)="onEditImage()">Editar imagen
                </button>
                <button *ngIf="changeImage" type="button" name="button"
                  class="btn btn-outline-lightning rounded-0 mb-2"
                  (click)="onCancelEditImage()">Cancelar
                </button>
              </div>
            </div>
            <div *ngIf="changeImage" class="row p-2">
              <div class="col-md-6">
                <input #cssmFile type="file" name="image" placeholder="Seleccione imagen" accept="image/png, image/jpeg" (change)="onFileChanged($event)" [disabled]="disabledForm">
              </div>
              <div class="col-md-6">
                <div class="progress form-group" *ngIf="progress > 0">
                  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress"></div>
                </div>
              </div>
            </div>
            <div class="row p-2">
              <div class="col-md-6">
                  <button *ngIf="isEditForm" type="submit" name="submit"
                  class="btn btn-outline-lightning rounded-0 mb-2 mr-2">Actualizar</button>
                  <button *ngIf="!isEditForm" type="submit" name="submit"
                  class="btn btn-outline-lightning rounded-0 mb-2 mr-2">Crear</button>
              </div>
              <div class="col-md-6">
                  <button type="button" name="clear"
                  class="btn btn-outline-lightning rounded-0 mb-2" (click)="onCancel()">Cancelar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
